.collection-item {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    cursor: pointer;
}

.likes-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}